{% extends 'base.html' %}
{% block content %}

<h1>Dino Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ dino.name }}</span>
                <p>Dinosaurs are cool: {{ dino.fun_pun }}</p>
                <p>Description: {{ dino.description }}</p>
                <!-- {% if cat.age > 0 %}
                <p>Age: {{ cat.age }}</p>
                {% else %}
                <p>Age: Kitten</p>
                {% endif %} -->
            </div>
            <div class="card-action">
                <a class="(#ffca28 amber darken-3)-text white" href="{% url 'dinos_update' dino.id %}">Edit</a>
                <a class="(#ffca28 amber darken-3)-text white" href="{% url 'dinos_delete' dino.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_sighting' dino.id %}" method="post">
            {% csrf_token %}
            {{ sighting_form.as_p }}
            <input type="submit" class="#ffca28 amber darken-3 btn" value="Add Sighting">
        </form>
        <br>
        {% if dino.seen_recently %}
            <div class="card-panel purple-text center-align">{{dino.name}} has probably set up a home terf nearby</div>
        {% else %}
            <div class="card-panel red-text center-align">{{dino.name}} might have left</div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal</th>
                </tr>
            </thead>
            <tbody>
                {% for sighting in dino.sighting_set.all %}
                <tr>
                    <td>{{sighting.date}}</td>
                    <td>{{sighting.get_location_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h5>{{ dino.name }}s Have Pets Too</h5>
        {% if dino.pets.count %}
            {% for pet in dino.pets.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A {{ pet.name }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>Someone get this disnosaur a pet!</h4>
        {% endif %}
    </div>
    <div class="col s6">
        <h5>Give this dinosaur a pet!</h5>
        {% if pets.count %}
        {% for pet in pets.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A {{ pet.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_pet' dino.id pet.id %}"  method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{dino.name}} has too many pets</h5>
        {% endif %}
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    const selectEl = document.getElementById('id_location');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}