{% extends 'base.html' %}
{% block content %}

<h1 class="green-text">Dinosaur List</h1>

{% for dino in dinos %}
<a href="{% url 'detail' dino.id %}">
    <div class="card black-text">
        <div class="card-content">
            <span class="card-title purple-text text-darken-3">{{ dino.name }}</span>
            <p>Description: {{ dino.description }}</p>
            <p>Dinosaurs are cool: {{ dino.fun_pun }}</p>
            <!-- {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %} -->
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}